#navigation {
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {   
    /* Hide old navigation from desktop (still used for mobile navigation) */
    #navigation { display: none !important; }
	
    /* Hide old navigation (menu packs) from desktop (still used for mobile navigation) */
    #navigation_beautiful_type, #navigation_centred, #navigation_header, #navigation_top_align, #navigation_top_tabs { display: none !important; }
	
	#navigation .menus {
		float: right;
	}

    /* Style header navigation */
    #header #navigation { 
        display: block !important;
        float: right; 
        width: auto; 
        clear:none; 
        margin-top:0.5em;
        max-width: 100%; // This can be changed
        background: none;
    }
    
}
@media only screen and (max-width: 767px) {
    /* Change mobile nav to fixed */
	body.full-header #header #navigation {
		top: -39px;
        left: 0px;
	}

    body:not(.full-header) #header #navigation {
        top: -39px;
        left: 0px;
    }

    /*body.show-nav:not(.full-header) #header #navigation {*/
        /*left: -73px;*/
    /*}*/
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome, #header #navigation {
		left: -14px;
		top: -39px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
	/*iPhone5 Override nav*/
	#header #navigation {
		left: -14px;
		top: -39px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/*iPhone 2G-4S Override nav*/
	#header #navigation {
		left: -14px;
		top: -39px;
	}
}